<div class="container">
    <h1>GMS Maplestory Plastic Surgery</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 coupon options available in the cash shop to change your face.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/vipface1.png"><br />
            <p><strong>Face Coupon (VIP)</strong> - This allows you to choose specifically which face style you want from one of the plastic surgery locations.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <img src="images/regface1.png"><br />
            <p><strong>Face Coupon (REG)</strong> - Randomly changes your face from one of the VIP face styles at the plastic surgery location. <!-- FIXME are there other faces offered besides the VIP ones? --></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalface1.png"><br />
            <p><strong>Royal Face Coupon</strong> - Faces offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Nurse Pretty in the Henesys Plastic Surgery to redeem. This is the only way that you can get these faces.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
       	    <div class="container">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Eye Colors<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" onclick="switchColor('black')">Black</a>
                            <li><a href="javascript:;" onclick="switchColor('red')">Red</a></li>
                            <li><a href="javascript:;" onclick="switchColor('blue')">Blue</a></li>
                            <li><a href="javascript:;" onclick="switchColor('green')">Green</a></li>
                            <li><a href="javascript:;" onclick="switchColor('hazel')">Hazel</a></li>
                            <li><a href="javascript:;" onclick="switchColor('sapphire')">Sapphire</a></li>
                            <li><a href="javascript:;" onclick="switchColor('violet')">Violet</a></li>
                            <li><a href="javascript:;" onclick="switchColor('amethyst')">Amethyst</a></li>
                            <li><a href="javascript:;" onclick="switchColor('white')">White</a></li>
                        </ul>
                    </li>
                </ul>
    		</div>
    	</div>
    </div>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse1">Royal Faces</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female Royal Faces - [4/5/2017 - 4/26/2017]</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/pinkbeanface2.png"><br />
                            <p>Pink Bean Face (f) (new)</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/drjangface1.png"><br />
                            <p>Dr. Jang Face</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/marbleeyes2.png"><br />
                            <p>Marble Eyes (f)</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/puregaze1.png"><br />
                            <p>Pure Gaze</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/puppyeyedface1.png"><br />
                            <p>Puppy-Eyed Face</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/bulbouseyedface1.png"><br />
                            <p>Bulbous-Eyed Face</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male Royal Faces - [4/5/2017 - 4/26/2017]</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/pinkbeanface1.png"><br />
                            <p>Pink Bean Face (m) (new)</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/naricainface1.png"><br />
                            <p>Naricain Face</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/marbleeyes1.png"><br />
                            <p>Marble Eyes (m)</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/glancingface1.png"><br />
                            <p>Glancing Face</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/puppyeyesface1.png"><br />
                            <p>Puppy Eyes Face</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <img src="images/faces/comeonoverface1.png"><br />
                            <p>Come On Over Face</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN HENESYS SALON -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse2">Henesys Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END HENESYS -->
        <!-- BEGIN NLC -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse4">NLC Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END NLC -->
        <!-- BEGIN ORBIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse5">Orbis Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ORBIS -->
        <!-- BEGIN LUDIBRIUM -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse6">Ludibrium Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END LUDIBRIUM -->
        <!-- BEGIN MU LUNG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse7">Mu Lung Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END MU LUNG -->
        <!-- BEGIN EDELSTEIN -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse8">Edelstein Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END EDELSTEIN -->
        <!-- BEGIN ARIANT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse9">Showa Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END ARIANT -->
        <!-- BEGIN SHOWA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse10">Ariant Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHOWA -->
        <!-- BEGIN SHANGHAI -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Shanghai Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SHANGHAI -->
    </div>
</div>

<script>
var color = "red";

function reload() {
    {{#each ariantF}}
    document.getElementById("ariant_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysF}}
    document.getElementById("hen_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcF}}
    document.getElementById("nlc_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisF}}
    document.getElementById("orbis_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiF}}
    document.getElementById("ludi_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
}

function switchColor(newColor) {
    if (color != newColor) {
        color = newColor;
        reload();
    }
}

window.onload = function() {
    reload();
}
</script>
