<div class="container">
    <h1>GMS Maplestory Plastic Surgery</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 coupon options available in the cash shop to change your face.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/vipface1.png"><br />
            <p><strong>Face Coupon (VIP)</strong> - This allows you to choose specifically which face style you want from one of the plastic surgery locations.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <img src="images/regface1.png"><br />
            <p><strong>Face Coupon (REG)</strong> - Randomly changes your face from one of the VIP face styles at the plastic surgery location. <!-- FIXME are there other faces offered besides the VIP ones? --></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalface1.png"><br />
            <p><strong>Royal Face Coupon</strong> - Faces offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Nurse Pretty in the Henesys Plastic Surgery to redeem. This is the only way that you can get these faces.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse1">Royal Faces [4/5/2017 - 4/26/2017]</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female Royal Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="royal_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male Royal Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="royal_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN HENESYS SALON -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse2">Henesys Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END HENESYS -->
        <!-- BEGIN AMORIA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse13">Amoria Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>A note on Amoria</strong> - Currently the only way to access Amoria to find the salon and face NPCs is to teleport into it (which usually means you would use a hyper teleport rock). These NPCs are NOT in the current wedding town map! I've listed them because this is currently the only method to get some of the face and hair styles currently.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each amoriaF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="amoria_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each amoriaM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="amoria_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Amoria -->
        <!-- BEGIN NLC -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse4">NLC Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END NLC -->
        <!-- BEGIN ORBIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse5">Orbis Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ORBIS -->
        <!-- BEGIN LUDIBRIUM -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse6">Ludibrium Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END LUDIBRIUM -->
        <!-- BEGIN MU LUNG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse7">Mu Lung Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="mulung_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="mulung_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END MU LUNG -->
        <!-- BEGIN EDELSTEIN -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse8">Edelstein Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="edel_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="edel_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END EDELSTEIN -->
        <!-- BEGIN SHOWA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse9">Showa Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHOWA -->
        <!-- BEGIN ARIANT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse10">Ariant Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ARIANT -->
        <!-- BEGIN SINGAPORE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse12">Singapore (CBD) Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each cbdF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="cbd_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each cbdM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="cbd_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END SINGAPORE -->
        <!-- BEGIN SHANGHAI -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Shanghai Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each shanghaiF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="shanghai_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                            <p>I don't have any information on the male face styles available from the plastic surgery in Shanghai :(. If you can send me the list of face styles please reach out to me at darizard@gmail.com!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHANGHAI -->
        <!-- BELING MT SONG -->
        <div class="panel palen-default">
            <div class="panel-title">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="collapse14">Mt. Song (Shaolin) Plastic Surgery</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Faces</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mtsongF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="mtsong_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Faces</strong></p>
                            <p>I don't have any information on the male face styles available from the plastic surgery in Mt. Song :(. If you can send me the list of face styles please reach out to me at darizard@gmail.com!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MT SONG -->
    </div>
</div>

<script>
var color = "red";

function reload() {
    {{#each royalF}}
    document.getElementById("royal_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each amoriaF}}
    document.getElementById("amoria_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each amoriaM}}
    document.getElementById("amoria_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each royalM}}
    document.getElementById("royal_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantF}}
    document.getElementById("ariant_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantM}}
    document.getElementById("ariant_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysF}}
    document.getElementById("hen_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysM}}
    document.getElementById("hen_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcF}}
    document.getElementById("nlc_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcM}}
    document.getElementById("nlc_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisF}}
    document.getElementById("orbis_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisM}}
    document.getElementById("orbis_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiF}}
    document.getElementById("ludi_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiM}}
    document.getElementById("ludi_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungF}}
    document.getElementById("mulung_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungM}}
    document.getElementById("mulung_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each edelF}}
    document.getElementById("edel_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each edelM}}
    document.getElementById("edel_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaF}}
    document.getElementById("showa_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaM}}
    document.getElementById("showa_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each cbdF}}
    document.getElementById("cbd_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each cbdM}}
    document.getElementById("cbd_{{image}}").src = "images/faces/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each shanghaiF}}
    document.getElementById("shanghai_{{image}}").src = "images/faces/" + color + "/{{image}}.png";
    {{/each}}
    {{#each mtsongF}}
    document.getElementById("mtsong_{{image}}").src = "images/faces/" + color + "/{{image}}.png";
    {{/each}}
}

function switchColor(newColor) {
    if (color != newColor) {
        color = newColor;
        reload();
    }
}

window.onload = function() {
    reload();

    var footer = document.getElementById("footernav");
    document.getElementById("tweet").remove();
    document.getElementById("github").remove();
    document.getElementById("footerBrand").textContent = "Eye Colors";

    var setWhite = document.createElement("li");
    setWhite.class = "left";
    var aWhite = document.createElement("a");
    aWhite.href = "javascript: switchColor('white');";
    aWhite.innerHTML = "White";
    setWhite.appendChild(aWhite);

    var setAm = document.createElement("li");
    setAm.class = "left";
    var aAm = document.createElement("a");
    aAm.href = "javascript: switchColor('amethyst');";
    aAm.innerHTML = "Amethyst";
    setAm.appendChild(aAm);

    var setViolet = document.createElement("li");
    setViolet.class = "left";
    var aViolet = document.createElement("a");
    aViolet.href = "javascript: switchColor('violet');";
    aViolet.innerHTML = "Violet";
    setViolet.appendChild(aViolet);

    var setSapphire = document.createElement("li");
    setSapphire.class = "left";
    var aSapphire = document.createElement("a");
    aSapphire.href = "javascript: switchColor('sapphire');";
    aSapphire.innerHTML = "Sapphire";
    setSapphire.appendChild(aSapphire);

    var setHazel = document.createElement("li");
    setHazel.class = "left";
    var aHazel = document.createElement("a");
    aHazel.href = "javascript: switchColor('hazel');";
    aHazel.innerHTML = "Hazel";
    setHazel.appendChild(aHazel);

    var setGreen = document.createElement("li");
    setGreen.class = "left";
    var aGreen = document.createElement("a");
    aGreen.href = "javascript: switchColor('green');";
    aGreen.innerHTML = "Green";
    setGreen.appendChild(aGreen);

    var setBlue = document.createElement("li");
    setBlue.class = "left";
    var aBlue = document.createElement("a");
    aBlue.href = "javascript: switchColor('blue');";
    aBlue.innerHTML = "Blue";
    setBlue.appendChild(aBlue);

    var setRed = document.createElement("li");
    setRed.class = "left";
    var aRed = document.createElement("a");
    aRed.href = "javascript: switchColor('red');";
    aRed.innerHTML = "Red";
    setRed.appendChild(aRed);

    var setBlack = document.createElement("li");
    setBlack.class = "left";
    var aBlack = document.createElement("a");
    aBlack.href = "javascript: switchColor('black');";
    aBlack.innerHTML = "Black";
    setBlack.appendChild(aBlack);

    footer.appendChild(setBlack);
    footer.appendChild(setRed);
    footer.appendChild(setBlue);
    footer.appendChild(setGreen);
    footer.appendChild(setHazel);
    footer.appendChild(setSapphire);
    footer.appendChild(setViolet);
    footer.appendChild(setAm);
    footer.appendChild(setWhite);
}
</script>
