<div class="container">
    <h1>GMS Maplestory Hairstyles</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 ways that you would purchase a coupon from the cash shop to change your hair.</p>
    <!-- FIXME include images and text for each one -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/viphair1.png"><br />
            <p><strong>Hair Style Coupon (VIP)</strong> - This allows you to choose specifically which hair style you would like from one of the hair salons.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <img src="images/reghair1.png"><br />
            <p><strong>Hair Style Coupon (REG)</strong> - Randomly changes your hair style, it includes the VIP hair styles in its pool as well as some extras (this is not the case in some hair salons, like Edelstein).</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalhair1.png"><br />
            <p><strong>Royal Hair Coupon</strong> - The hairstyles offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Big Headward in the Henesys hair salon to redeem it. This is the only way that you can get these hairstyles.</p>
        </div>
    </div>
</div>

<!-- Contact about mistakes! -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p><strong>If I have any part of this grid wrong or if anything is missing, please reach out to me on Twitter at <a href="http://twitter.com/darzouras">darzouras</a>!!! This is a project for the community and I would rather work to update it than allow it to be outdated and incorrect! It was difficult to find any updated information even on the Nexon Maplestory website so I expect there to be some holes!</strong></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
        <!-- BEGIN ROYAL HAIRSTYLES -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse1">Royal Hair Styles [4/5/2017 - 4/26/2017]</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female Royal Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="royal_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male Royal Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="royal_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROYAL HAIRSTYLES -->
        <!-- BEGIN HENESYS SALON -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse2">Henesys Hair Salon</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="hen_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END HENESYS -->
        <!-- BEGIN KERNING -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse3">Kerning Hair Salon</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="kerning_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="kerning_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="kerning_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="kerning_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END KERNING -->
        <!-- BEGIN NLC -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse4">NLC Hair Salon</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="nlc_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END NLC -->
        <!-- BEGIN ORBIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse5">Orbis Hair Salon</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="orbis_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ORBIS -->
        <!-- BEGIN LUDIBRIUM -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse6">Ludibrium Hair Salon</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ludi_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END LUDIBRIUM -->
        <!-- BEGIN MU LUNG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse7">Mu Lung Hair Salon</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ml_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ml_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ml_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ml_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END MU LUNG -->
        <!-- BEGIN EDELSTEIN -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse8">Edelstein Hair Salon</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="edel_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="edel_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END EDELSTEIN -->
        <!-- BEGIN ARIANT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse9">Ariant Hair Salon</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="ariant_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ARIANT -->
        <!-- BEGIN SHOWA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse10">Showa Hair Salon</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="showa_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHOWA -->
        <!-- BEGIN SHANGHAI -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Shanghai Hair Salon</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each shanghaiF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="shanghai_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                            <p>I don't have any information on the male hair styles available from the salon in Shanghai :(. If you can send me the list of hair styles please reach out to me at darizard@gmail.com!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHANGHAI -->
        <!-- BEGIN MT SONG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse14">Mt. Song (Shaolin) Hair Salon</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mtsongF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="mtsong_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                            <p>I don't have any information on the male hair styles available from the salon in Mt. Song :(. If you can send me the list of hair styles please reach out to me at darizard@gmail.com!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MT SONG -->
        <!-- BEGIN MAHAVIRA HALL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse15">Mahavira Hall (Shaolin) Hair Salon</a>
                </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mahallF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img id="mahall_{{image}}"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                            <p>I don't have any information on the male hair styles available from the salon in Mahavira Hall :(. If you can send me the list of hair styles please reach out to me at darizard@gmail.com!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAHAVIRA HALL -->
        <!-- BEGIN SINGAPORE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse13">Singapore (CBD) Hair Salon</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SINGAPORE -->
        <!-- BEGIN STUMP TOWN
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Stump Town Hair Salon</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
         END STUMP TOWN -->
    </div>
</div>

<script>
var color = "black";

function reload() {
    {{#each royalF}}
    document.getElementById("royal_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each royalM}}
    document.getElementById("royal_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysFVIP}}
    document.getElementById("hen_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysFREG}}
    document.getElementById("hen_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysMVIP}}
    document.getElementById("hen_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each henesysMREG}}
    document.getElementById("hen_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each kerningFVIP}}
    document.getElementById("kerning_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each kerningFREG}}
    document.getElementById("kerning_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each kerningMVIP}}
    document.getElementById("kerning_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each kerningMREG}}
    document.getElementById("kerning_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcFVIP}}
    document.getElementById("nlc_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcFREG}}
    document.getElementById("nlc_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcMVIP}}
    document.getElementById("nlc_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each nlcMREG}}
    document.getElementById("nlc_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisFVIP}}
    document.getElementById("orbis_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisFREG}}
    document.getElementById("orbis_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisMVIP}}
    document.getElementById("orbis_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each orbisMREG}}
    document.getElementById("orbis_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiFVIP}}
    document.getElementById("ludi_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiFREG}}
    document.getElementById("ludi_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiMVIP}}
    document.getElementById("ludi_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ludiMREG}}
    document.getElementById("ludi_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungFVIP}}
    document.getElementById("ml_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungFREG}}
    document.getElementById("ml_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungMVIP}}
    document.getElementById("ml_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mulungMREG}}
    document.getElementById("ml_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each edelFVIP}}
    document.getElementById("edel_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each edelMVIP}}
    document.getElementById("edel_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantFVIP}}
    document.getElementById("ariant_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantFREG}}
    document.getElementById("ariant_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantMVIP}}
    document.getElementById("ariant_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each ariantMREG}}
    document.getElementById("ariant_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaFVIP}}
    document.getElementById("showa_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaFREG}}
    document.getElementById("showa_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaMVIP}}
    document.getElementById("showa_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each showaMREG}}
    document.getElementById("showa_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each shanghaiF}}
    document.getElementById("shanghai_{{image}}").src = "images/hairstyles/" + color + "/" + "{{image}}.png";
    {{/each}}
    {{#each mtsongF}}
    document.getElementById("mtsong_{{image}}").src = "images/hairstyles/" + color + "/{{image}}.png";
    {{/each}}
    {{#each mahallF}}
    document.getElementById("mahall_{{image}}").src = "images/hairstyles/" + color + "/{{image}}.png";
    {{/each}}
}

function switchColor(newColor) {
    if (color != newColor) {
        color = newColor;
        reload();
    }
}

window.onload = function() {
    reload();

    var footer = document.getElementById("footernav");
    document.getElementById("tweet").remove();
    document.getElementById("github").remove();
    document.getElementById("footerBrand").textContent = "Hair Colors";

    var setPurple = document.createElement("li");
    setPurple.class = "left";
    var aPurple = document.createElement("a");
    aPurple.href = "javascript: switchColor('purple');";
    aPurple.innerHTML = "Purple";
    setPurple.appendChild(aPurple);

    var setBrown = document.createElement("li");
    setBrown.class = "left";
    var aBrown = document.createElement("a");
    aBrown.href = "javascript: switchColor('brown');";
    aBrown.innerHTML = "Brown";
    setBrown.appendChild(aBrown);

    var setGreen = document.createElement("li");
    setGreen.class = "left";
    var aGreen = document.createElement("a");
    aGreen.href = "javascript: switchColor('green');";
    aGreen.innerHTML = "Green";
    setGreen.appendChild(aGreen);

    var setBlue = document.createElement("li");
    setBlue.class = "left";
    var aBlue = document.createElement("a");
    aBlue.href = "javascript: switchColor('blue');";
    aBlue.innerHTML = "Blue";
    setBlue.appendChild(aBlue);

    var setOrange = document.createElement("li");
    setOrange.class = "left";
    var aOrange = document.createElement("a");
    aOrange.href = "javascript: switchColor('orange');";
    aOrange.innerHTML = "Orange";
    setOrange.appendChild(aOrange);

    var setYellow = document.createElement("li");
    setYellow.class = "left";
    var aYellow = document.createElement("a");
    aYellow.href = "javascript: switchColor('yellow');";
    aYellow.innerHTML = "Yellow";
    setYellow.appendChild(aYellow);

    var setRed = document.createElement("li");
    setRed.class = "left";
    var aRed = document.createElement("a");
    aRed.href = "javascript: switchColor('red');";
    aRed.innerHTML = "Red";
    setRed.appendChild(aRed);

    var setBlack = document.createElement("li");
    setBlack.class = "left";
    var aBlack = document.createElement("a");
    aBlack.href = "javascript: switchColor('black');";
    aBlack.innerHTML = "Black";
    setBlack.appendChild(aBlack);

    footer.appendChild(setBlack);
    footer.appendChild(setRed);
    footer.appendChild(setOrange);
    footer.appendChild(setYellow);
    footer.appendChild(setBlue);
    footer.appendChild(setGreen);
    footer.appendChild(setPurple);
    footer.appendChild(setBrown);
}
</script>
