<div class="container">
    <h1>GMS Maplestory Hairstyles</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 ways that you would purchase a coupon from the cash shop to change your hair.</p>
    <!-- FIXME include images and text for each one -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/viphair1.png"><br />
            <p><strong>Hair Style Coupon (VIP)</strong> - This allows you to choose specifically which hair style you would like from one of the hair salons.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <img src="images/reghair1.png"><br />
            <p><strong>Hair Style Coupon (REG)</strong> - Randomly changes your hair style, it includes the VIP hair styles in its pool as well as some extras (this is not the case in some hair salons, like Edelstein).</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalhair1.png"><br />
            <p><strong>Royal Hair Coupon</strong> - The hairstyles offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Big Headward in the Henesys hair salon to redeem it. This is the only way that you can get these hairstyles.</p>
        </div>
    </div>
</div>

<!-- Contact about mistakes! -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p><strong>If I have any part of this grid wrong or if anything is missing, please reach out to me on Twitter at <a href="http://twitter.com/darzouras">darzouras</a>!!! This is a project for the community and I would rather work to update it than allow it to be outdated and incorrect! It was difficult to find any updated information even on the Nexon Maplestory website so I expect there to be some holes!</strong></p>
    </div>
</div>

<div class="container">
    <div class="panel-group" id="accordion">
        <!-- BEGIN ROYAL HAIRSTYLES -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse1">Royal Hair Styles [4/5/2017 - 4/26/2017]</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female Royal Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalF}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male Royal Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each royalM}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROYAL HAIRSTYLES -->
        <!-- BEGIN HENESYS SALON -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse2">Henesys Hair Salon</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each henesysMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END HENESYS -->
        <!-- BEGIN KERNING -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse3">Kerning Hair Salon</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each kerningMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END KERNING -->
        <!-- BEGIN AMORIA
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse12">Amoria Hair Salon</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <p>Angelica</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Ballroom Classic</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Carla</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Caspia</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Daisy Do</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>The Honeybun</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Victorian Wrap</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Darling Diva</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Cecilia Twist</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Classy Sass</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Lana</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <p>Francesca</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Maiden's Weave</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <p>Casanova</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Eternal Elegance</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Fuzz</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Jun Pyo Hair</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Metro</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Natural</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Rockie</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Romance</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Saturday Special</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Super Suave</p>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <p>Windy Hair</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        END AMORIA -->
        <!-- BEGIN NLC -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse4">NLC Hair Salon</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each nlcMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END NLC -->
        <!-- BEGIN ORBIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse5">Orbis Hair Salon</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each orbisMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ORBIS -->
        <!-- BEGIN LUDIBRIUM -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse6">Ludibrium Hair Salon</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ludiMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END LUDIBRIUM -->
        <!-- BEGIN MU LUNG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse7">Mu Lung Hair Salon</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each mulungMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END MU LUNG -->
        <!-- BEGIN EDELSTEIN -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse8">Edelstein Hair Salon</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each edelMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END EDELSTEIN -->
        <!-- BEGIN ARIANT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse9">Ariant Hair Salon</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each ariantMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END ARIANT -->
        <!-- BEGIN SHOWA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse10">Showa Hair Salon</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaFVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaFREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaMVIP}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        {{#each showaMREG}}
                        <div class="col-sm-2 col-xs-6">
                            <div class="anchor">
                                <img src="images/hairstyles/{{image}}.png"><br />
                                <p>{{name}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END SHOWA -->
        <!-- BEGIN SHANGHAI -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Shanghai Hair Salon</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SHANGHAI -->
        <!-- BEGIN SINGAPORE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse13">Singapore (CBD) Hair Salon</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SINGAPORE -->
        <!-- BEGIN STUMP TOWN
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-toggle="#accordion" href="#collapse11">Stump Town Hair Salon</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
         END STUMP TOWN -->
    </div>
</div>
